<header>
    <h1 class="center">TRIQUI</h1>
    <br>
    <hr>
</header>

<body>
    <div class="row m-5">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Jugador 1" aria-label="Nombre del jugador 1" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Ficha ( X )</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Jugador 2" aria-label="Nombre del jugador 2" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Ficha ( O )</span>
                </div>
            </div>
        </div>
    </div>
</body>